html,
body,
div,
p,
h1,
h2 {
  font-family: Verdana, 'Lucida Sans', sans-serif;
  color: #000;
}

html,
body,
div,
p {
  font-weight: normal;
}

body {
  background-color: #fff;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #087;
}
sup {
  font-weight: normal;
}

html,
body,
div,
p {
  font-size: 12px;
}

h1 {
  font-size: 20px;
  margin-top: 30px;
}
h2 {
  font-size: 16px;
  clear: left;
}
h3 {
  font-size: 14px;
  clear: left;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 0%;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin: 5% auto;
  width: 100%;
}

.character-selectors {
  cursor: pointer;
  border-radius: 5px;
}

.character-selectors:focus {
  outline: 0;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin: 5% 0;
}

.logo-image {
  width: 50%;
  height: 25%;
}

/*  OVERLAY STYLING */

/* MODAL */

.disable-scroll {
  overflow: hidden;
  position: fixed;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  padding: 100px 0 0 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
}

.modal-container {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 25%;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(110, 107, 107, 1);
  z-index: 3;
  width: 60%;
  animation-name: fadeIn;
  animation-duration: 1s;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
}

.close:hover,
.close:focus {
  color: rgba(125, 119, 119, 1);
  text-decoration: none;
  cursor: pointer;
}

img.hover-highlight {
  transition: 0.3s;
}

.hover-highlight:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-btn {
  cursor: pointer;
}

.modal-footer,
.modal-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-image {
  height: 50px;
}

.modal-footer {
  margin: 2% 0;
}
.modal-footer > button {
  box-shadow: 3px 5px 3px rgb(136, 134, 134);
  width: 10%;
  align-items: flex-start;
  text-align: center;
  cursor: pointer;
  background-color: rgb(157, 151, 136);
  box-sizing: border-box;
  padding: 2px 6px 3px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(157, 151, 136);
}

.show-modal {
  display: flex;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    top: 0%;
    opacity: 0;
  }
  to {
    top: 25%;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
